@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* CSS Document */
body{ margin:0px;
  padding: 0px;
}
#home{
	background-image:url(image/home.jpg);
	height: 200vh;
	background-position: center;
}
.tieude{
	text-align: center;
	padding-top: 15%;
	font-size: 60px;
	color:#EFE3E3;
	font-family:  'Roboto', sans-serif;
}
.mangxahoi{
	font-size: 25px;
	color:#EFE3E3;
	padding: auto 30px;
	padding-right: 15px;
}
.mxh{
	text-align: center;
	padding-top: 10px;

}
.hinhbentrai{
	float: left;
	width: 40%;
}
.hinhbentrai img{
	width: 70%;
	padding: 15%;
}
.chubenphai{
	width: 65%;
	padding: 10%;
}


	
