@charset "utf-8";
/* CSS Document */
*{margin: 0 auto;}
nav{
 /* width: 1400px;*/
  height: 70px;
  background-color: #000000; 
}
#logo{
	width: 40%; float: left;
}
.Layer-0 {
  width: 79px;
  height: 27px;
  float: left; padding: 21px 150px;
}
#menu{
	width: 45%; padding-right: 46px;float: right;
}
#menu ul{
	list-style-type: none; padding-top: 25px;
}
#menu ul li{
	color: rgba(255, 255, 255, 0.69);text-align: right;font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 600;display: inline; padding-right: 46px; 
}
#gioithieu{
	/*width: 1400px;*/
	height: 100vh;
	background-image: url(image/image.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
  width: 175px;
  height: 60px;
  margin: 110px 871px 33px 354px;
}
#gioithieu .title{
	color: #ffffff;text-align: left; font-size: 36px; font-family: 'Raleway', sans-serif; padding-left: 354px; 
}
hr{
width: 74px; margin: 36px 975px 30px 358px; color: white; height: 1px; background-color: white;
}
#gioithieu p{
	opacity: 0.8; font-family: 'Raleway', sans-serif; width: 500px; font-size: 16px; line-height: 1.44; color: rgba(255, 255, 255, 0.8); margin: 30px 585px 44px 354px;
}
#gioithieu button{
  width: 135px;
  height: 42px;
  margin: 0 910px 0 355px;
  padding: 9px 32px 14px; font-size: 15px;color: #ffffff; background-color: inherit; font-family: 'Open Sans', sans-serif; border: solid white 1px;
}
#brand-panel{
  /*width: 1400px;*/
  height: 105px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
}
.chubentrai{
	width: 25%; float: left; padding-left: 152px;
}
.chubentrai h3{
  width: 122px;
  height: 17px;
  margin: 20px 325px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}
.chubentrai p{
	padding-top: 12px;  font-size: 14px;font-family: 'Open Sans', sans-serif;line-height: 1.43;color: #86878b;
}
.social{
	width: 50%; float: right;padding: 30px 80px;
}
#feature1{
	width: 1349px; height: 495px;background-color: #f5f5f5;display: flex; justify-content: center;padding-top: 100px;
}
.tab{
	float: left;
}
.tab button{
	width: 112px; height: 112px; background-color: #333333; color: white;font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: bold; border: none; margin-bottom: 1px; border-radius: 3%;
}
.tab button:hover{
	background-color:#ff8b38;
}
.vanban{
	width: 475px; font-family: 'Open Sans', sans-serif;float: left;padding-top: 10px;margin: 0;
}
.vanban h3{
	font-size: 20px;font-weight: bold; padding-bottom: 50px;
}
.vanban p{
	font-size: 14px;color: #86878b;line-height: 1.43;
}
.vanban button{
	margin-top: 50px;width: 120px; height: 45px;background-color: #ff8b38; border: none; font-size: 15px;color: #ffffff;font-weight: 600; border-radius:5%;
}
#feature1 .hinh{
	padding-top: 20px; 
}
#feature1 .hinh img{
	width: 320px;
}
#feature2{
	height: 595px;background-color: #ffffff;display: flex;justify-content: center;
}
#feature2 .hinh{
	margin: 0;
}
#feature2 .hinh img{
	width: 525px; float: left; padding-top: 110px;padding-right: 115px;padding-left: 100px;
}
#feature2 .chu{
	padding-top: 105px; font-family: 'Open Sans', sans-serif; width: 600px; margin: 0; float: right;
}
.chu h3{
	font-size: 20px;font-weight: bold;
}
.chu hr{
	margin: 30px 0; background-color: #ff8b38; border: none; height: 2px; width: 65px;
}
.chu p{
	font-size: 14px;color: #86878b;line-height: 1.43; width: 69%;padding-bottom: 40px; margin: 0;
}
.chu .icon{
	width: 40px; height: 40px; float: left; background-color: inherit; border: 2px solid #ff8b38; border-radius: 50%; text-align: center;
}
.icon i{
	padding-top: 11px;
}
.chu .noidung{
	padding-left: 70px;
}
.noidung h4{
	font-size: 14px;font-weight: 600;color: #212121;
}
.noidung p{
	padding-top: 10px;font-size: 14px;line-height: 1.43;color: #86878b;
}

